<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<bean id="hxbAgencyConfig" class="com.sinosoft.ybframework.gateway.AgencyConfigFactoryBean">
		<property name="configLocation">
			<value>classpath:ybt-config/hxb/agency-config-hxb.xml</value>
		</property>
		<property name="messageSaveProvider" ref="messageSaveProvider"></property>
		<property name="stdTransCodeProvider" ref="stdTransCodeProvider"></property>
	</bean>

	<bean id="checkApplValidate" class="com.sinosoft.agency.hxb.validate.CheckApplValidate" init-method="init">
		<property name="xslLocation">
			<value>format/hxb/validate/CheckApplValidate.xsl</value>
		</property>
	</bean>
</beans>